<form id="newPostForm" class="p-4">
    <h2 class="text-center mb-4">update your post!</h2>
<div class="form-group mt-3 mb-2">
  <label class="label">caption</label>
   <input
      type="text"
      class="form-control"
      id="caption{{id}}"
      name="caption"
      placeholder="Caption"
      value="{{caption}}"
      required
    />
    <div class="invalid-feedback">Please provide a caption.</div>
</div>
    <button type="submit"  class="btn btn-dark mt-3 editSubmitBtn" data-postId={{id}}>Update</button>

</form>
  <script src="/js/editPost.js"></script>