<form
  id="newPostForm"
  action="/api/pet-post/"
  method="POST"
  enctype="multipart/form-data"
  class="needs-validation" novalidate
>
  <h2 class="text-center mb-4"><strong>Create A New Post</strong></h2>
  
  <div class="form-group">
    <label for="pet-pic">Upload your picture!</label>
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        id="pet-pic"
        name="image"
        accept="image/png, image/jpeg"
        required
      />
      <div class="invalid-feedback">Please upload a picture.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="caption">Caption</label>
    <input
      type="text"
      class="form-control"
      id="caption"
      name="caption"
      placeholder="Caption"
      required
    />
    <div class="invalid-feedback">Please provide a caption.</div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>