<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4 mx-auto">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#login">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#signup">signup</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="login" class="tab-pane fade show active">
            <h2 class="text-center my-4">pet playground. <br>
            <p class="text-center mb-4 fs-6">where pets enjoy.</p></h2>
            <form id="form-submit">
              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                  <input type="email" class="form-control" placeholder="email" id="email-login" aria-label="Email">
                </div>
              </div>
              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  <input type="password" class="form-control" placeholder="password" id="password-login" aria-label="Password">
                </div>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-dark">login.</button>
              </div>
            </form>
          </div>
          <div id="signup" class="tab-pane fade">
            <h2 class="text-center my-4">pet playground. <br>
            <p class="text-center mb-4 fs-6">where pets enjoy.</p></h2>
            <form id="form-signup">
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="username" id="username-signup">
              </div>
              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                  <input type="email" class="form-control" placeholder="email" id="email-signup" aria-label="Email">
                </div>
              </div>
              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  <input type="password" class="form-control" placeholder="password" id="password-signup" aria-label="Password">
                </div>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-dark">signup.</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>