@media (min-width: 768px) {
  .override-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.app-title {
  font-size: 56px;
  letter-spacing: -1px;
}

.app-mission {
  font-size: 24px;
  letter-spacing: -1px;
}
